{{#partial "contenido"}}

  <div class="coleccion-lista">
      <h1> Listado de colecciones</h1>

        {{#if colecciones}}
        <table class="tabla-colecciones">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tìtulo</th>
                    <th>Descripciòn</th>
                    <th>Tipo de Fuente</th>
                    <th>Algoritmo consenso</th>
                </tr>
            </thead>
            <tbody>
                {{#each colecciones}}
                    <tr>
                        <td>{{id}}</td>
                        <td>{{titulo}}</td>
                        <td>{{descripcion}}</td>
                        <td>{{fuente.nombreFuente}}</td>
                        <td>{{nombreAlgoritmo}}</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
            <p class="sin-colec">No hay colecciones creadas</p>
        {{/if}}
  </div>
{{/partial}}

{{>templates/layout-administrador}}