{{#partial "contenido"}}
    <div class="editar-coleccion">
        <h1>Editar colección</h1>

        {{#if coleccion}}
            <form action="/colecciones/{{coleccion.id}}/actualizar" method="post">
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" value="{{coleccion.titulo}}" required>

                <label for="descripcion">Descripción:</label>
                <textarea id="descripcion" name="descripcion" required>{{coleccion.descripcion}}</textarea>

                <label>Fuente</label>
                <select name="tipoFuente">
                    <option value="dinamica">Dinámica</option>
                    <option value="estatica-incendios">Estática Incendios</option>
                    <option value="estatica-victimas">Estática Víctimas</option>
                    <option value="metamapa">MetaMapa</option>
                </select>
                <label for="algoritmo">Algoritmo de consenso:</label>
                <select name="algoritmoConsenso">
                    <option value="{{coleccion.nombreAlgoritmo}}" selected>{{coleccion.nombreAlgoritmo}}</option>
                    <option value="multiplesm">Múltiples menciones</option>
                    <option value="mayoria">Mayoría simple</option>
                    <option value="absoluta">Absoluta</option>
                </select>

                <button type="submit">Guardar cambios</button>
            </form>
        {{else}}
            <p>No se encontró la colección.</p>
        {{/if}}
    </div>
{{/partial}}

{{> templates/layout-administrador}}