{{#partial "contenido"}}
    <div class="coleccion-lista">
        <h1>Estad칤sticas Generales</h1>
        <form action="/estadisticas/generar" method="post" style="margin-bottom: 20px;">
            <button type="submit" class="btn-ver"">
                游댃 Regenerar Todas las Estad칤sticas
            </button>
        </form>

        {{#if colecciones}}
            <table class="tabla-colecciones">
                <thead>
                <tr>
                    <th>Colecci칩n</th>
                    <th>Provincia con m치s hechos</th>
                    <th>Categor칤a con m치s hechos</th>
                    <th>Provincia con m치s hechos por categoria</th>
                    <th>Hora con mas hechos por categoria</th>
                    <th>Solicitudes Spam</th>
                </tr>
                </thead>
                <tbody>
                {{#each colecciones}}
                    <tr>
                        <td>{{titulo}}</td>
                        <td>
                            {{#if estadisticaProvinciaMayor}}
                                <strong>{{estadisticaProvinciaMayor.valor}}</strong>
                                    ({{estadisticaProvinciaMayor.cantidad}} hechos)
                            {{else}}
                                <span>-</span>
                            {{/if}}
                        </td>
                        <td>
                            {{#if estadisticaCategoriaMayor}}
                                <strong>{{estadisticaCategoriaMayor.valor}}</strong>
                                ({{estadisticaCategoriaMayor.cantidad}} hechos)
                            {{else}}
                                <span>-</span>
                            {{/if}}
                        </td>
                        <td>
                            {{#if estadisticaProvinciaMasHechosPorCategoria}}
                                <strong>{{estadisticaProvinciaMasHechosPorCategoria.valor}}</strong>
                                ({{estadisticaProvinciaMasHechosPorCategoria.cantidad}} hechos)
                            {{else}}
                                <span>-</span>
                        {{/if}}
                        </td>
                        <td>
                            {{#if estadisticaHoraMasHechosPorCategoria}}
                                <strong>{{estadisticaHoraMasHechosPorCategoria.valor}}</strong>
                                ({{estadisticaHoraMasHechosPorCategoria.cantidad}} hechos)
                            {{else}}
                                <span>-</span>
                            {{/if}}
                        </td>
                        <td>
                            {{#if estadisticaCantidadSpam}}
                                <strong>{{estadisticaCantidadSpam.valor}}</strong>
                                ({{estadisticaCantidadSpam.cantidad}} hechos)
                            {{else}}
                                <span>-</span>
                            {{/if}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        {{else}}
            <p class="sin-colec">No hay colecciones disponibles</p>
        {{/if}}
    </div>
{{/partial}}

{{>templates/layout-administrador}}