{{#partial "contenido"}}
<h1>Mis Hechos</h1>


<form action="/hechos/filtro" method="get" class="filtro-form">
    <label for="categoria">Filtrar por categoría:</label>
    <input type="text" id="categoria" name="categoria" placeholder="Ej: Robo, Accidente, etc.">
    <button type="submit">Filtrar</button>
</form>
<br>

{{#if hechos}}
    <ul class="hecho-list">
        {{#each hechos}}
            <li class="hecho-card">

                 <div class="hecho-header">
                       <h2 class="hecho-title">{{titulo}}</h2>
                       <form action="/hechos/{{id}}/editar" method="get">
                           <button type="submit" class="btn-editar">Editar</button>
                       </form>
                   </div>


                {{#if multimedia}}
                    <img class="hecho-img" src="/{{multimedia.0.url}}" alt="Imagen del hecho">
                {{else}}
                    <img class="hecho-img" src="/img/default.jpg" alt="Sin imagen">
                {{/if}}


                <div class="hecho-body">
                    <p>Descripcion: {{descripcion}}</p>
                    <p>Categoria: {{categoria}}</p>
                    <p>FechaCarga: {{fechaCarga}}</p>
                </div>

                <div class="hecho-actions">
                    <form action="/solicitud/{{id}}/form" method="get">
                        <button type="submit"> Solicitar eliminación</button>
                    </form>

                </div>

            </li>
        {{/each}}
    </ul>
{{else}}
    <p>No tenés hechos cargados.</p>
{{/if}}

<a href="/">← Volver</a>
{{/partial}}

{{> templates/layout }}