{{#partial "contenido"}}
    <div class="search-page-container">
        <div class="search-page-header">
            <a href="/">← Volver</a>
            <h1>Hechos</h1>
        </div>
        {{#if hechos}}
            <ul class="hecho-list">
                {{#each hechos}}
                    <li class="hecho-card">
                        <h2 class="hecho-title">{{titulo}}</h2>
                        {{#if multimedia}}
                            <img class="hecho-img" src="/{{multimedia.[0].url}}" alt="Imagen del hecho">
                        {{else}}
                            <img class="hecho-img" src="/img/default.jpg" alt="Sin imagen">
                        {{/if}}
                        <div class="hecho-body">
                            <p>{{descripcion}}</p>
                        </div>
                        <div class="hecho-actions">
                            <form action="/solicitud/{{id}}/form" method="get">
                                <button type="submit"> Solicitar eliminación</button>
                            </form>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{else}}
            <p>No se encontraron hechos.</p>
        {{/if}}
    </div>
{{/partial}}

{{> templates/layout }}