{{#partial "contenido"}}

    <div class="solicitudes-lista">
        <h1>Solicitudes pendientes</h1>
        {{#if solicitudes}}
            {{#each solicitudes}}
                <div class="solicitud-container">
                    <h3>Solicitud #{{id}}</h3>
                    <div class="solicitud-sub">
                        <div class="solicitud-data">
                            <a>{{hecho.titulo}}</a>
                            <p>{{descripcion}}</p>
                        </div>
                        <div class="solicitud-acciones">
                            <form action="/solicitud/{{id}}/aceptar" method="post" style="display:inline;">
                                <button class="aceptar-solicitud-btn" type="submit">Aceptar</button>
                            </form>

                            <form action="/solicitud/{{id}}/eliminar" method="post" style="display:inline;">
                                <button class="eliminar-solicitud-btn" type="submit">Eliminar</button>
                            </form>
                        </div>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <p class="sin-colec">No hay solicitudes pendientes de revisar.</p>
        {{/if}}
    </div>
{{/partial}}

{{>templates/layout-administrador}}